@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  background-color: #ffffff !important;
  color: #002244 !important;
  font-family: Inter, system-ui, sans-serif;
}